#container
	nav.navbar.navbar-userset
		.container-fluid
			.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href='/')
							| &nbsp;
							i.fa.fa-home
							| &nbsp;
					li.dropdown
						a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false')
							i.fa.fa-user
							| &nbsp;Мои задачи
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href='/task') Открытые
							li
								a(href='/task/closed') Закрытые
					li
						a(href='/task/projects')
							i.fa.fa-bars
							| &nbsp;Проекты
					li
						a(href='/users')
							i.fa.fa-users
							| &nbsp;Сотрудники
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false')
							| Пользователь
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href='/lk') Личный кабинет
							li
								a(href='/im') Личные сообщения
							li.divider
							li
								a(href='/logout') Выход

	#container-content
		if breadcrumbs
			ol.breadcrumb
			each crumb, number in breadcrumbs
				if number == breadcrumbs.length - 1
					li.active=crumb.name
				else
					li
						a(href=crumb.url)=crumb.name

		#content